.navbar {
    height: 60px;
    background-color: darkviolet;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
    font-size: 1.3rem;
}
.navButton {
    margin-left: 20px;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    color: darkviolet;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgb(47, 194, 60);
    color: white;
    transform: scale(1.1);
}